<a href="https://colab.research.google.com/github/LuigiSigillo/Aviation-accidents-visualizations/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data preprocessing

before preprocessing

In [2]:
import sys
import time
import os
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
#!unzip "/content/drive/My Drive/AviationData.csv.zip" -d "/content/drive/My Drive/"

df = pd.read_csv("/content/drive/My Drive/AviationData.csv", encoding='ISO-8859-1')
df

Mounted at /content/drive

             Event.Id Investigation.Type  ...   Report.Status Publication.Date
0      20200509X11853           Accident  ...     Preliminary       14-05-2020
1      20200508X55730           Accident  ...     Preliminary       14-05-2020
2      20200507X60215           Accident  ...     Preliminary       14-05-2020
3      20200509X85739           Accident  ...     Preliminary       15-05-2020
4      20200504X54503           Incident  ...     Preliminary       12-05-2020
...               ...                ...  ...             ...              ...
84978  20041105X01764           Accident  ...  Probable Cause       16-04-1980
84979  20001218X45448           Accident  ...  Probable Cause       12-09-2000
84980  20061025X01555           Accident  ...  Probable Cause       26-02-2007
84981  20001218X45447           Accident  ...  Probable Cause       19-09-1996
84982  20001218X45444           Accident  ...  Probable Cause              NaN

[84983 rows x 31 columns]

after preprocessing

In [3]:
import numpy as np
df = pd.read_csv("/content/drive/My Drive/AviationData.csv", encoding='ISO-8859-1')

#View the dataset
print("1, intero", df.shape, "TOT = ", df.shape[0]*df.shape[1])



df = df.drop(
    columns=["Accident.Number","Airport.Code","Airport.Name","Registration.Number","Engine.Type","FAR.Description","Schedule","Air.Carrier","Report.Status","Publication.Date"]
)
print("2, senza colonne inutili", df.shape, "TOT = ", df.shape[0]*df.shape[1])



print("__________________________________________")
df = df.drop(df[df["Investigation.Type"] == "Incident"].index)
df=df.drop(columns=["Investigation.Type"])

print("3, senza incidents", df.shape, "TOT = ", df.shape[0]*df.shape[1])



print("__________________________________________")
df = df[df["Latitude"].notnull()]
df = df[df["Longitude"].notnull()]

print("4, solo coordinate", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
## Da mettere solo quelli con fatal (#num morti) o non fatal
patternDel = ".*Fatal.*"
filter = df["Injury.Severity"].str.contains(patternDel)
df = df[filter]

print("5, solo severity", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
df = df[df["Aircraft.Damage"].notnull()]
print("6, solo damage", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
df = df[df["Aircraft.Category"]=="Airplane"]
df=df.drop(columns=["Aircraft.Category"])

print("7, solo airplane", df.shape, "TOT = ", df.shape[0]*df.shape[1])

print("__________________________________________")
df = df[df["Amateur.Built"]=="No"]
df=df.drop(columns=["Amateur.Built"])
print("8, solo non amatoriali", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
df = df[df["Purpose.of.Flight"].notnull()]
df = df[df["Purpose.of.Flight"]!="Unknown"]
print("9, solo con purpose", df.shape, "TOT = ", df.shape[0]*df.shape[1])

print("__________________________________________")
df = df.dropna(subset=['Total.Fatal.Injuries','Total.Serious.Injuries'], how='all')
print("10, tutti NAN a casa", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
df = df[df["Weather.Condition"].notnull()]
print("11, solo con wether", df.shape, "TOT = ", df.shape[0]*df.shape[1])

print("__________________________________________")
df = df[df["Broad.Phase.of.Flight"].notnull()]
print("12, solo board phase", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
df = df[df["Number.of.Engines"].notnull()]
df=df.drop(columns=["Number.of.Engines"])

print("13, solo motore", df.shape, "TOT = ", df.shape[0]*df.shape[1])


print("__________________________________________")
df = df[df["Model"].notnull()]
df = df[df["Make"].notnull()]
print("14, not nan make e model", df.shape, "TOT = ", df.shape[0]*(df.shape[1]-3))



print("__________________________________________")
df =  df.drop(df[df["Country"] != "United States"].index)
df=df.drop(columns=["Country"])
print("15, only USA", df.shape, "TOT = ", df.shape[0]*(df.shape[1]-3))



df=df.drop(columns=["Injury.Severity"])
df=df.drop(columns=["Model"])
df["Crash.Location"] = df["Latitude"].astype(str) + "," + df["Longitude"].astype(str) 
df=df.drop(columns=["Latitude"])
df=df.drop(columns=["Longitude"])
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].fillna(0)
df = df.fillna(0)


"""
print("__________________________________________")
df = df.drop(df[df["Injury.Severity"] == "Non-Fatal"].index)
df = df.drop(df[df["Injury.Severity"] == "Unavailable"].index)
print("16, solo fatali", df.shape, "TOT = ", df.shape[0]*df.shape[1]-3)
print(df.head())
"""
"""
print("__________________________________________")
df = df.drop(df[df["Event.Date"] < "2015-01-01"].index)
df = df.drop(df[df["Injury.Severity"] == "Unavailable"].index)
print("4, dal 2000 in poi", df.shape, "TOT = ", df.shape[0]*(df.shape[1]-3))
print(df.head())
"""


print("TOT = ", df.shape[0]*(df.shape[1]))
df.to_csv(r'/content/drive/My Drive/Aviation cleaned.csv', index = False)
df.describe()
df

1, intero (84983, 31) TOT =  2634473
2, senza colonne inutili (84983, 21) TOT =  1784643
__________________________________________
3, senza incidents (81331, 20) TOT =  1626620
__________________________________________
4, solo coordinate (29828, 20) TOT =  596560
__________________________________________
5, solo severity (29748, 20) TOT =  594960
__________________________________________
6, solo damage (29285, 20) TOT =  585700
__________________________________________
7, solo airplane (18025, 19) TOT =  342475
__________________________________________
8, solo non amatoriali (15410, 18) TOT =  277380
__________________________________________
9, solo con purpose (14277, 18) TOT =  256986
__________________________________________
10, tutti NAN a casa (3462, 18) TOT =  62316
__________________________________________
11, solo con wether (3324, 18) TOT =  59832
__________________________________________
12, solo board phase (2773, 18) TOT =  49914
__________________________________________
13, solo motore (2651, 17) TOT =  45067
__________________________________________
14, not nan make e model (2650, 17) TOT =  37100
__________________________________________
15, only USA (2628, 16) TOT =  34164
TOT =  34164

             Event.Id  ...                  Crash.Location
6      20200502X81549  ...            39.408889,-89.990277
46     20200413X13054  ...  61.351943999999996,-149.548889
83     20200326X82317  ...            32.448055,-96.913889
85     20200324X34735  ...            34.416945,-77.034166
96     20200318X22054  ...           45.352778,-122.340833
...               ...  ...                             ...
34638  20010417X00765  ...   27.649721999999997,-80.439166
34994  20010206X00396  ...                36.13,-86.653889
35038  20010119X00328  ...            31.866667,-86.016667
36853  20001212X20873  ...             1.483333,-75.533333
42290  20001208X08803  ...            45.928334,-84.825556

[2628 rows x 13 columns]